<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/global-warming.jpg">
        <p style="size: 30px">
            Taken as a whole, the range of published evidence indicates that the net damage costs of climate change are likely to be significant and to increase over time.
- Intergovernmental Panel on Climate Change
        </p>
    </div>
    
    {{>footer}}
</body>

</html>